<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="saucedemoproject" parallel="methods" thread-count="1">
	<test name="saucedemo">
  <classes>
	  <class name="automationsaucedemo.LoginPage"></class>
	  <class name="automationsaucedemo.addtocarttesting"></class>
	  <class name="automationsaucedemo.CheckoutPage"></class>
	  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->